
.contact {
    padding: 50px 20px;
    text-align: center;
    background-color: #F7F2DB;
}

.contact h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.contact p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #333;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    max-width: 900px;
    margin: auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.1);
}

.col {
    padding: 20px;
}

.form form {
    display: grid;
    gap: 15px;
}

.form input,
.form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form textarea {
    height: 200px;
    resize: none;
}

.form button {
    padding: 12px;
    font-size: 18px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact form button:hover {
    background: #525252;
  }

@media (max-width: 768px) {
    .row {
        grid-template-columns: 1fr;
    }

    .information {
        text-align: center;
    }
}

